<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!--JQUERY-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    
    <!-- FRAMEWORK BOOTSTRAP para el estilo de la pagina-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    
    <!-- Los iconos tipo Solid de Fontawesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
    <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
    <!--<script src="https://kit.fontawesome.com/e7558c5ba9.js"></script>-->

    <!-- Nuestro css-->
    <link rel="stylesheet" type="text/css" href="../static/css/inicio.css" th:href="@{/css/index.css}">
    <link rel="stylesheet" type="text/css" href="../static/css/usuario.css" th:href="@{/css/index.css}">
    
    <title>Usuario</title>

    <div class="jumbotron">
            <nav class="navbar navbar-expand-lg navbar-light bg-light Bnavegacion">
                <a href="#" class="navbar-brand">D'ROCHA S.A</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#contenidoNavegacion"
                    aria-controls="contenidoNavegacion" aria-expanded="false">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <!--Contenido de navegacion-->
                <div class="collapse navbar-collapse" id="contenidoNavegacion">
                    <ul class="navbar-nav  ml-auto">
                        <li class="nav-item dropdown">
                            <img id="fotoU_nu" src="https://via.placeholder.com/100" alt="usuario" class="fotoUsuario">
                        </li>
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown" id="navDrop_nu">
                                Informacion Usuario
                            </a>
                            <!-- <div class="dropdown-menu" aria-labelledby="navDrop">
                                <a href="#" class="dropdown-item">Cerrar</a>
                                <div class="dropdown-divider"></div>
                            </div> -->
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">


                    <li class="nav-item active">
                        <a class="nav-link" href="inicio.html">Inicio</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="registro.html"> Registro<span class="sr-only">(current)</span></a>
                    </li>

                    <li class="nav-item active">
                        <a class="nav-link" href="usuario.html">Usuarios</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="objetivos.html">Objetivos</a>
                    </li>
                </ul>

            </div>
        </nav>
    </div>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-4">    
                <input type="text" class="form-control" aria-label="Text input with checkbox" placeholder="CC">
                <p class="navbar">Numero de documento</p>
                <input type="text" class="form-control " aria-label="Text input with checkbox" placeholder="Nombre usuario">
                <p class="navbar">rol</p>
                <input type="text" class="form-control" aria-label="Text input with checkbox" placeholder="Nombre de usuario">
                <p class="navbar">Numero de documento</p>
                <div class="row-centrar">
                        <button  type="button" class="btn btn-info mr-2 btn-lg">Ver</button>
                        <button type="button" class="btn btn-info btn-lg">Buscar</button>
                </div>        
            </div>
            <div class="col-md-8">
                <table class="table ">
                    <thead>
                        <tr class="jumbotron">
                            <th scope="col">#</th>
                            <th scope="col">Rol</th>
                            <th scope="col">Cedula</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Apellido</th>
                            <th scope="col">Telefono</th>
                            <th scope="col">Direccion</th>
                            <th scope="col">Correo</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Admin</td>
                            <td>1234567890</td>
                            <td>juan david</td>
                            <td>Quiceno sanchez</td>
                            <td>3135300090</td>
                            <td>Cll 1 8-88</td>
                            <td>juanda-996@hotmail.es</td>
                        </tr>
                        <tr>
                            <th scope="row">1</th>
                            <td>Admin</td>
                            <td>1234567890</td>
                            <td>juan david</td>
                            <td>Quiceno sanchez</td>
                            <td>3135300090</td>
                            <td>Cll 1 8-88</td>
                            <td>juanda-996@hotmail.es</td>
                        </tr>
                        <tr>
                            <th scope="row">1</th>
                            <td>Admin</td>
                            <td>1234567890</td>
                            <td>juan david</td>
                            <td>Quiceno sanchez</td>
                            <td>3135300090</td>
                            <td>Cll 1 8-88</td>
                            <td>juanda-996@hotmail.es</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>