body{
    background: url(../img/backgroup.jpg) no-repeat center center fixed;
    background-size: auto;
}
.main-section{
    margin: 0 auto;
    margin-top: 25%;
    padding: 0;
}
/*poner el cuadro un poco mas transparente*/
.modal-content{
    background-color: #3b4652;
    opacity: .95;
    padding: 0 20px;
    /*sombra fuera del cuadro grande*/
    box-shadow: 0px 0px 3px #848484;
    /*0horizontal 0vertical 3grosor sombra*/
}
.user-img{
    margin-top: -50px;
    margin-bottom:  35px
}/*como lo subimos -50px en el si*/
.user-img img{
    width: 100px;
    height: 100px;
    box-shadow: 0px 0px 3px #848484;
    border-radius: 50%; /*si se usa una imagen cuadrada no usar esto*/
}



.form-group input{
    height: 42px;
    font-size: 18px;
    border: 0;
    padding-left: 54px;
    border-radius: 5px;
}

.form-group::before{
    font-family: "font Awesome\ 5 free";
    position: absolute;/*entra dentro del imput el icono*/
    left: 28px;
    font-size: 22px;
    padding-top: 4px; 
}
.form-group#user-group::before{
    content: "\f007";
}

.form-group#contrasena-group::before{
    content: "\f023";
}