.main{
    margin-top:20px;
    margin-bottom: 20px;
}

#barra_superior{
    padding-right: 11%;
}

.jumbotron{
    font-family: 'Times New Roman', Times, serif;
    color: white;
    background: #1C1C1C;
    padding: 30px;
    padding-bottom: 10px;
    height: auto;
    margin-bottom: 5px;
}

.navbar{
    font-family: 'blockquote-footer', arial, serif;
    padding: 0px 20px;
    min-height: 35px;
}
.jumbotron{
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
}
.jumbotron p{
    font-size: 17px;
    margin-bottom: 5px;
}
.footer {
    background: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
.footer .social [class^="icon-"] {
      display: inline-block;
      color: #333;
      text-decoration: none;
      font-size: 30px;
      padding: 10px;
      background: white;
      border-radius: 50%;
      width: 50px;
      height: 50px;
      line-height: 40px;
  }