.button_tabla{
    border-radius: 20px;
}

#btn_buscar_nu, #btn_usuario_form, #btn_verEmpleados, #btn_editar_user_form{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 5px;
    float: right;
    border-radius: 45px;
}

#btn_editar_emp, #btn_eliminar_emp{
    float: right;
    margin-right: 5px;
    border-radius: 45px;
}
.opciones_contenido{
    padding-right: 10px;
}

#inf_empleados, #inf_usuarios{
    border-radius: 40px;
}

#tabla_empleados_nu{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

.row-centrar {
    text-align: center;
  }