<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!--JQUERY-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    
    <!-- FRAMEWORK BOOTSTRAP para el estilo de la pagina-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    
    <!-- Los iconos tipo Solid de Fontawesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
    <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
    <!--<script src="https://kit.fontawesome.com/e7558c5ba9.js"></script>-->

    <!-- validar los datos-->
    <script src="../static/js/validar.js"></script>

    <!-- Nuestro css-->
    <link rel="stylesheet" type="text/css" href="../static/css/inicio.css" th:href="@{/css/index.css}">
    <title>Registro</title>

    <div class="jumbotron">
            <nav class="navbar navbar-expand-lg navbar-light bg-light Bnavegacion">
                <a href="#" class="navbar-brand">D'ROCHA S.A</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#contenidoNavegacion"
                    aria-controls="contenidoNavegacion" aria-expanded="false">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <!--Contenido de navegacion-->
                <div class="collapse navbar-collapse" id="contenidoNavegacion">
                    <ul class="navbar-nav  ml-auto">
                        <li class="nav-item dropdown">
                            <img id="fotoU_nu" src="https://via.placeholder.com/100" alt="usuario" class="fotoUsuario">
                        </li>
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown" id="navDrop_nu">
                                Informacion Usuario
                            </a>
                            <!-- <div class="dropdown-menu" aria-labelledby="navDrop">
                                <a href="#" class="dropdown-item">Cerrar</a>
                                <div class="dropdown-divider"></div>
                            </div> -->
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
</head>
<body>
   
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">      
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </nav>
    </div> 
</br>
    <div class="container">
        <div class="form-row-2">
            <form>
                <h1>Agregar Objetivo</h1>
                <div class="form-register" onsubmit="return validar();">
                    
            
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Objectivo</label>
                        <input type="text" class="form-control" id="Objectivo" placeholder="Ingrese el Objectivo" required>
                    </div>
            
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Indicadores</label>
                        <input type="text" class="form-control" id="Indicadores" placeholder="Ingrese el Indicadores" required>
                    </div>
            
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Metas</label>
                        <input type="text" class="form-control" id="Metas" placeholder="Ingrese los Metas" required>
                    </div>
                    <div class="form-group">
                            <label for="exampleFormControlInput1">Iniciativas</label>
                            <input type="text" class="form-control" id="Iniciativas" placeholder="Ingrese los Iniciativas" required>
                        </div>
            
                    <button type="submit" class="btn btn-primary mb-2"> Guardar</button>
            </form>
        </div>
    </div>
</body>
</html>