<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!--JQUERY-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    
    <!-- FRAMEWORK BOOTSTRAP para el estilo de la pagina-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    
    <!-- Los iconos tipo Solid de Fontawesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
    <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
    <!--<script src="https://kit.fontawesome.com/e7558c5ba9.js"></script>-->

    <!-- Nuestro css-->
    <link rel="stylesheet" type="text/css" href="../static/css/inicio.css" th:href="@{/css/index.css}">
    <title>Empleado</title>

    <div class="jumbotron">
            <nav class="navbar navbar-expand-lg navbar-light bg-light Bnavegacion">
                <a href="#" class="navbar-brand">D'ROCHA S.A</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#contenidoNavegacion"
                    aria-controls="contenidoNavegacion" aria-expanded="false">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <!--Contenido de navegacion-->
                <div class="collapse navbar-collapse" id="contenidoNavegacion">
                    <ul class="navbar-nav  ml-auto">
                        <li class="nav-item dropdown">
                            <img id="fotoU_nu" src="https://via.placeholder.com/100" alt="usuario" class="fotoUsuario">
                        </li>
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown" id="navDrop_nu">
                                Login
                            </a>
                            <!-- <div class="dropdown-menu" aria-labelledby="navDrop">
                                <a href="#" class="dropdown-item">Cerrar</a>
                                <div class="dropdown-divider"></div>
                            </div> -->
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
    
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">

                   
                    <li class="nav-item active">
                        <a class="nav-link" href="indexUsuario.html">Inicio</a>
                    </li>
                
                     <li class="nav-item active">
                                <a class="nav-link" href="objetivosUsuario.html">Objetivos</a>
                     </li>    
                    
                </ul>
                
            </div>
        </nav>
    </div>
    <h1>Objetivos de Usuario</h1>
    <br>
    <form class="form-inline">
            <br>
            <button type="submit" class="btn btn-primary mb-2 ml-5">Buscar</button>
            <div class="form-group mx-sm-3 mb-2">
              <label for="inputPassword2" class="sr-only">Buscar Objetivo</label>
              <input type="text" class="form-control" id="inputObjetivo" placeholder="buscar Objetivo">
            </div>
            <div> 
                    <button type="submit" class="btn btn-primary mb-2 ml-5"  href = "agregar.html">Agregar</button>
                    <button type="submit" class="btn btn-primary mb-2 ml-5">Editar</button>
                    <button type="submit" class="btn btn-primary mb-2 ml-5">Eliminar</button>
            </div>
            
          </form>      
    <div class="container mt-5">
            <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Objectivos</th>
                        <th scope="col">Indicadores</th>
                        <th scope="col">Metas</th>
                        <th scope="col">Iniciativas</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley</td>
                        <td>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution</td>
                        <td>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classica</td>
                        <td>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form</td>
                      </tr>
                      
                    </tbody>
                  </table>
            </div>
            
        </body>
</html>